<% additional_claims.each do |additional_claim| %>
  <tr>    
    <td><%= additional_claim.master_claim_name.capitalize %> / <%= additional_claim.sub_claims.collect(&:name).join(", ") %></td>
    <td><%= additional_claim.claim_type %></td>
    <td><%= additional_claim.research_status %></td>
    <td><%= additional_claim.assignee_name %></td>
    <td><%= additional_claim.updated_at.to_s(:full_friendly) %></td>
    <td>
      <%= link_to "View Claim", product_additional_claim_path(product, additional_claim), class: 'btn btn-min btn-primary' %>
      <% if accessibility_conditions(additional_claim) %>
        <%= link_to "Edit", edit_product_additional_claim_path(product, additional_claim), class: 'btn btn-min btn-primary' %>
        <%= link_to "Delete", product_additional_claim_path(product, additional_claim), method: "DELETE", confirm: "Are you sure?", class: 'btn btn-min btn-primary' if current_user.has_role? :admin %>
      <% end %>
    </td>
   </tr>
<%end%>