<%= f.association :master_claim, prompt: "Please select Additional Claim", autofocus: true, required: true, input_html: { class: "master_claims_list" }  %>
<div id="master-sub-claims"><%= render "master_claims/sub_claims", sub_claims: sub_claims %></div>
<% selected = params[:additional_claim].present? ? params[:additional_claim][:claim_type] : (additional_claim.blank? ? "Additional Claim-Admin" : additional_claim.claim_type)  %>
<%= f.input :claim_type, collection: (['Additional Claim-Admin', 'Additional Claim-Chemist']), selected: selected , required: true %>
<% selected = params[:additional_claim].present? ? params[:additional_claim][:research_status] : (additional_claim.blank? ? "Unasssigned" : additional_claim.research_status)  %>
<%= f.input :research_status, collection: (options_for_research_status), selected: selected, required: true, input_html: { class: "status-list" } %>
<div id="assignee_users"><%= render "users", assignees: assignees %></div>
<%= f.input :chemical_summary, input_html: { class: "tinymce"} %>
<%= f.input :editorial_summary, input_html: { class: "tinymce"} %>
<%= f.input :question, input_html: { class: "tinymce"} %>
<%= f.input :answer, input_html: { class: "tinymce"} %>
<%= f.input :allergy_concerns %>
<%= f.input :other_concerns %>
<%= f.input :chemical_info_from_company %>