<div align="right">
  <% if current_user.has_role? :admin %>
    <%= link_to('Add New Additional Claim', new_product_additional_claim_path(@product)) %> |
  <% end %>
  <%= link_to('Export To Excel', product_additional_claims_path(request.parameters.merge({format: :xls}))) %>
</div>
<div align="left">
<%= generate_search_form({index_path: product_additional_claims_path(@product), placeholder: params[:search] ? params[:search] : "Search Additional Claims" }) %>
</div>
<fieldset>
  <legend> Additional Claims List for <a data-toggle="modal" href="#product-description"><%= @product.name.capitalize %></a> product </legend>
  <%= render "shared/product_description", product: @product %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Claim / Sub Claims</th>
        <th>Claim Type</th>
        <th>Research Status</th>
        <th>Assigned To</th>
        <th>Modified At</th>
        <th data-sorter="false">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render "additional_claims", additional_claims: @additional_claims, product: @product %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"><%= pluralize(@additional_claims.size, 'additional claim') %></td>
      </tr>
    </tfoot>
  </table>
  <%= will_paginate @additional_claims %>
</fieldset>