<div align="right">
  <%= generate_common_links({index_path: product_types_path(request.parameters.merge({format: :xls})), create_path: new_product_type_path, object: @product_types, create_text: "Add New Product Type" }) %>
</div>
<div align="left">
  <%= generate_search_form({index_path: product_types_path, placeholder: params[:search] ? params[:search] : "Search Product Types" }) %>
</div>
<fieldset>
  <legend> Product Types List</legend>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th data-sorter="false">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @product_types %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"><%= pluralize(@product_types.size, 'product type') %></td>
      </tr>
    </tfoot>
  </table>
  <%= will_paginate @product_types %>
</fieldset>