<%= simple_form_for(product, html: {class: 'form-vertical product-form' }) do |f| %>
  <%= f.error_notification %>
  <%= hidden_field_tag "claim_type" %>  
  <%= f.input :sku, autofocus: true, required: true %>
  <%= f.input :name, required: true %>
  <%= f.association :brand, required: true, prompt: "Choose a Brand" %>
  <%= f.association :product_type, required: true, prompt: "Choose a Product Type" %>
  <%= f.input :price, required: true %>
  <%= f.input :ingredients, required: true %>
  <%= f.input :application_direction %>
  <%= f.button :submit, class: 'btn-primary' %>
  <a data-toggle="modal" href="#choose-claim" class="btn btn-primary" type="button">Save and choose claim</a>
  <%= render "choose_claim" %>
  <%= link_to "Cancel", products_path %>
<% end %>